<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Puzzle_2013.Properties.Settings.oti2013ConnectionString"
            connectionString="Data Source=|DataDirectory|\oti2013.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>